body{
  color: white;
  background-color: #378786;
  font-family: 'Montserrat', sans-serif;
  font-size: 30;
}

#door{
    position: absolute;
    center: 150px;
    left: calc(40vw - 150px);
    z-index: -1;
  }

#closed{
  position: absolute;
  bottom: 170px;
  left: calc(43vw - 110px);
}

#closed:hover{
  opacity: 0.0;
}
